label{
    color: rgb(0, 0, 0);
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid var(--cinza-600);
  background-color: var(--cinza-900);
  border-radius: var(--raio-borda-pequeno);
}

.container_elemento_principal{  
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.componente{  
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.toogle_menu{
  display: none;
}

.controles_janela{
    z-index: 999;
    position: absolute;
    right:0px;
    top:0px;
    padding: 4px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    background: rgba(21, 20, 27, 0.85);
    border-radius: 0 0 0 var(--raio-borda-pequeno);
    opacity: 55%;
    transition: var(--transicao);
}

.controles_janela:hover{
  opacity: 100%;
}


.controle_janela{
    transition: var(--transicao);
    color: var(--cinza-400);
    padding: 4px;
    border-radius: var(--raio-borda-pequeno);
    font-size: 0.9em;
}
.controle_janela:hover{
  color: var(--branco-suave);
  background-color: var(--cinza-700);
}
